<div>


    <h5>
        <span ng-click="isCollapsed = !isCollapsed"><span popover="Click to display help" popover-trigger="mouseenter" popover-placement="right" class="glyphicon glyphicon-question-sign"></span></span>
        <input type="text" ng-model="filterOptions.filterText" style="position:absolute; right: 5px;" />
    </h5>

    <div collapse="!isCollapsed">
        <div class="well well-lg">
            <h4>Profiles are a way to logically partition a JQM cluster.</h4>
            <h5>All applicative parameters (JNDI resources, job definitions...) belong to a profile. They are often used to specify multiple environments on the same JQM install.</h5>
            
            <dl class="dl-horizontal">
                <dt>* Name</dt>
                <dd>The name of the profile. It must be unique.</dd>
                <dt> * Description</dt>
                <dd>A short description of the profile.</dd>
			</dl>
        </div>
    </div>

    <div class='gridClass' ng-grid='gridOptions' style='width: 100%;'></div>
    <br/>
    <button class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    <button class="btn btn-default" ng-click="newProfile()" jqm-permission="profile:create"><span class="glyphicon glyphicon-plus"></span> New profile</button>
    <button class="btn btn-default" ng-click="save()" jqm-permission="profile:create"><span class="glyphicon glyphicon-floppy-save"></span> Save profiles</button>
    <button class="btn btn-default" ng-click="remove()" ng-disabled="selected.length === 0" jqm-permission="profile:delete"><span class="glyphicon glyphicon-remove"></span> Delete selected</button>
</div>

